DATABASE_URL="postgresql://cashi:cashi@localhost:5432/cashi?schema=public"
PORT=3000
JWT_SECRET="cashi-dev-secret"
R2_ACCOUNT_ID="ca52f76daa3abcbc82b4ca9720feeff7"
R2_BUCKET_NAME="desaweb2-bucket"
R2_ENDPOINT="https://ca52f76daa3abcbc82b4ca9720feeff7.r2.cloudflarestorage.com"
R2_ACCESS_KEY_ID="reemplazar_por_access_key_id"
R2_SECRET_ACCESS_KEY="reemplazar_por_secret_access_key"
R2_PUBLIC_BASE_URL="https://pub-7e000acc95024afc8cf4319802525457.r2.dev"
R2_RECEIPTS_PREFIX="receipts"
